<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h2>Sign in</h2>

<div th:if="${param.error}">
    <p style="color:red">Login failed</p>
</div>

<form th:action="@{/login}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label>Username</label>
    <input name="username" autocomplete="username" />

    <label>Password</label>
    <input name="password" type="password" autocomplete="current-password" />

    <button type="submit">Login</button>
</form>
</body>
</html>
